<a href="https://colab.research.google.com/github/AnjaliAleti/Aleti_INFO5731_Fall2024/blob/main/In_Class_Exercise_3_%26_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#In Class Exercise 3: Dynamic Web Scraping (API-Based) (10 points)

## Scenario
**You are a data analyst. Your company wants a quick snapshot of the remote job market.**

## Target
- Website: https://remoteok.com  
- API endpoint (data source): https://remoteok.com/api


## Your Task (write code + write your answers)

Using Python, collect job data from the API and answer the following. *(Note: results may vary over time; grading is based on correct logic.)*

**Q1)** How many job postings are currently available? **(2 points)**

**Q2)** What are the top 3 most frequent companies? **(2 points)**

**Q3)** How many job titles contain the word **"Data"** (case-insensitive)? **(2 points)**

**Q4)** Create a pandas DataFrame using the **first 10** job postings (**exactly 10 rows**) with these columns: **(4 points)**


* `title`
* `company`
* `location` (if missing → `"Unknown"`)
* `salary` (if missing → `None`)
* `tags` (store as a comma-separated string)

## Requirements

* You may use ChatGPT.
* Do NOT use Selenium.
* Print your results clearly: `df.head(10)` + answers to Q1–Q3.

In [ ]:
# Starter cell (optional)
import requests
import pandas as pd

API_URL = "https://remoteok.com/api"

In [1]:
# Write your solution below.
# Tip: the API response includes a metadata object plus job objects.
# Make sure you keep only real job postings.


import requests
import pandas as pd
from collections import Counter

API_URL = "https://remoteok.com/api"

# Send request (RemoteOK requires a user-agent header)
headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(API_URL, headers=headers)

data = response.json()

# The first object is metadata — remove it
jobs = [job for job in data if isinstance(job, dict) and job.get("id")]

# Q1: Total number of job postings
total_jobs = len(jobs)
print("Q1: Total job postings =", total_jobs)

# Q2: Top 3 most frequent companies
companies = [job.get("company", "Unknown") for job in jobs]
top_3_companies = Counter(companies).most_common(3)
print("Q2: Top 3 companies =", top_3_companies)

# Q3: Titles containing "Data" (case-insensitive)
data_jobs_count = sum(
    1 for job in jobs
    if "data" in job.get("position", "").lower()
)
print('Q3: Jobs containing "Data" in title =', data_jobs_count)

# Q4: Create DataFrame with first 10 jobs
rows = []

for job in jobs[:10]:
    rows.append({
        "title": job.get("position"),
        "company": job.get("company"),
        "location": job.get("location") if job.get("location") else "Unknown",
        "salary": job.get("salary") if job.get("salary") else None,
        "tags": ", ".join(job.get("tags", []))
    })

df = pd.DataFrame(rows)

print("\nFirst 10 job postings:")
print(df.head(10))

Q1: Total job postings = 95
Q2: Top 3 companies = [('Anduril Industries', 3), ('Versaterm', 3), ('Ubiminds', 3)]
Q3: Jobs containing "Data" in title = 3

First 10 job postings:
                                             title               company  \
0  Senior Technical Program Manager Infrastructure                Planet
1                              Web Program Manager              Huntress
2        Senior Program Manager Workforce Planning                Fluxon
3        Senior Principal SEO GEO & Search Systems              Workwize
4       Senior Full Stack Software Engineer Growth             Circle.so
5                 Enterprise Account Executive KSA               Dataiku
6                    Strategic Partner Manager GSI        Armis Security
7                           React Native Developer  Bluelight Consulting
8                  Customer Service Representative        Wing Assistant
9            Staff Software Engineer Platform Team               Wellhub

                   location salary  \
0             United States   None
1  United States of America   None
2             United States   None
3                 Amsterdam   None
4                    Remote   None
5              Saudi Arabia   None
6                    London   None
7       Panama City, Panama   None
8       Manila, Philippines   None
9                   Unknown   None

                                                tags
0               manager, technical, software, senior
1  web, manager, saas, security, game, senior, op...
2  manager, management, senior, operational, engi...
3                                  saas, seo, senior
4  software, growth, full-stack, senior, analytic...
5  software, management, analytics, sales, executive
6  infosec, manager, security, growth, management...
7  react, consulting, developer, ios, consultant,...
8  virtual assistant, security, support, software...
9                                 software, engineer

# In-Class Exercise 2 (10 points)

**In-Class Assignment — Week 3 (Lesson 3)**

Time: 20–30 minutes
Points: 10

**Instructions**

This is an individual in-class assignment.

Complete it during class time.

You may use Week 3 lecture notes / demo notebooks.

Write your code under each question and print the output.

Submit the GitHub link.

Q1 ( 4 points)
Write a Python program that prompts the user to enter two numbers and perform a division operation. Handle exceptions for both zero division and invalid input (non-numeric input). Display appropriate error messages for each type of exception and ensure the program does not crash due to these errors.

In [2]:
# write your answer here
try:
    # Prompt user to enter two numbers
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))

    # Perform division
    result = num1 / num2

    # Display result
    print("Result:", result)

# Handle division by zero
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")

# Handle invalid (non-numeric) input
except ValueError:
    print("Error: Please enter valid numeric values.")

# Optional: This block always executes
finally:
    print("Program execution completed.")

Enter the first number: 2
Enter the second number: 3
Result: 0.6666666666666666
Program execution completed.

 Q2( 4 points)
Define a base class called 'Vehicle' with attributes make and model. Create a derived class Car that inherits from Vehicle and has an additional attribute 'num_doors'. Demonstrate an example of creating an instance of the 'Car' class and accessing its attributes.

In [3]:
# write your answer here
try:
    # Take input from user
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))

    # Perform division
    result = num1 / num2

    # Print result
    print("Result =", result)

except ZeroDivisionError:
    print("Error: Cannot divide by zero.")

except ValueError:
    print("Error: Invalid input. Please enter numeric values only.")

finally:
    print("Program finished.")

Enter first number: 3
Enter second number: 6
Result = 0.5
Program finished.

Question 3 ( 2 points)
Create a program that accepts a list of numbers as input and outputs a new list containing only the even numbers.

In [4]:
# write your answer here
# Program to filter even numbers from a list

# Take input from user (numbers separated by space)
numbers = input("Enter numbers separated by space: ")

# Convert input string into a list of integers
num_list = list(map(int, numbers.split()))

# Create a new list containing only even numbers
even_numbers = [num for num in num_list if num % 2 == 0]

# Display the result
print("Even numbers:", even_numbers)

Enter numbers separated by space: 5
Even numbers: []